.custom-card {
  width: 400px;
  max-width: 100%;
  background-color: rgb(133, 86, 86) !important;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 15px 50px 30px;
}

.custom-card button {
  background-color: rgb(199, 171, 98) !important;
  border: none!important;
  font-weight: bolder!important;
}

.custom-card button:active {
  background-color: rgb(31, 31, 31) !important;
}

.custom-card button:hover {
  background-color: rgb(199, 214, 152) !important;
  color: rgb(16, 16, 16) !important;
}

.custom-card button:focus{
   border: none!important;
}
